.article-list {
     height: 100px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

h1, h2, h3, h4, p, a {
    font-family: 'Times New Roman';
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}
